#footer{
	height:auto;
	width:100%;
	background-color:#444;
	text-align: center;
	color:#fff;
	padding-bottom:50px;
}

#footer .top-footer{
	background-color:#eee;
	width:100%;
	height:auto;
	border-top:1px solid #ccc;
	position: relative;
	margin-bottom:50px;
}

#footer .top-footer:after{
	bottom: 100%;
   left: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #eee;
   top: 105px;
   border-width: 18px;
   margin-left: -18px;
}

#footer .top-footer .title{
	font-size:25px;
	color:#555;
	display:block;
	padding-top:30px;
	padding-bottom:30px;
	text-align: center;

}

#footer .top-footer .title .button{
	margin-left:20px;
}