/* image */
#HeaderImg{
    height: 200px;
    width: 100%;
    background-image: url('/zeilschooldewaai/app/templates/default/img/frontimg_II.jpg');
    /*background-image: url('https://lh5.googleusercontent.com/-uITxt6RcH1M/VN9ulYkzOCI/AAAAAAAAA28/aU4X4fQ4_nE/w803-h324-no/greenland-sail.gif');*/

    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    margin-bottom: 40px;
}

#HeaderMask{
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
}

#Logo{
    height: 120px;
    margin: 35px 0px;
}

#socialmedia{
    background-color: #fff;
    border-radius: 3px;
    margin-top: 5px;
}
#socialmedia i{
    padding: 8px 6px 6px 6px;
}
#socialmedia i:hover{
    cursor: pointer;
    background-color: rgba(25,118,210,0.8);
}

/* navigation */
#navbar{
    background-color: #1976d2;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 200px;
    z-index: 99999999999999;
}

.Left{
    float: left;
}

.Right{
    float: right;
}

.NavItem{
    float: left;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px 10px;
    color: #fff;
    cursor: pointer;
    transition: .1s;
}
.NavItem:hover{
    background: #42a5f5;
}
.NavItem.active{
    background: #42a5f5;
}

.responsiveMenu{
    display: none;
    width: 100%;
    background-color: #fff;
    border-bottom: 2px solid #1976d2;
}

.ResponsiveItem{
    line-height: 35px;
    font-weight: 600;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #1976d2;
    cursor: pointer;
    text-decoration: none;
}
.ResponsiveItem:hover{
    background-color: #42a5f5;
    color: #fff;
}

.responsiveMenu a{
    text-decoration: none;
}

#ResponsiveTrigger{
    display: none;
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url('http://alexandstein.com/resources/images/icons/hamburger.png') no-repeat center;
    background-size: cover;
}
#ResponsiveLogo{
    display: none;
    float: left;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 700px){
    #navbar .container .Left, #navbar .container .Right{
        display: none;
    }
    #ResponsiveTrigger, #ResponsiveLogo{
        display: block;
    }
}

/* style.css */
#boten_sideImg{
    width: 100%;
    border-radius: 6px;
}

#BootTypes{
    display: none;
}