.button{
	padding-left:15px;
	padding-right:15px;
	padding-top:10px;
	padding-bottom:10px;
	width: auto;
	background-color: #2782DD;
	display: inline-block;
	outline: none;
	border:none;
	box-shadow: 1px 3px #0B60B5;
	border-radius:5px;
	color:#fff;
	font-size:18px;
	text-shadow:1px 1px rgba(0,0,0,0.75);
	text-decoration: none;
}

.button:hover{
	opacity:0.8;
}

.page{
	min-height:600px;
	padding-bottom:50px;
}

.center{
	text-align: center;
}

/* BEGIN HOME CODE */

.sidebar_image{
	max-width:100%;
	height:auto;
	display:block;
	border-radius:4px;
	border:3px solid #1976d2;
}

.sidebar{
	padding-top:50px;
	padding-bottom:50px;
}


.sidebar_list{
	list-style-type: none;
	padding-left:10px;
	font-size:17px;
}

.sidebar_list i{
	color:#1976d2;
}

hr{
	margin-top:0px;
	margin-bottom:10px;
}

.home_map{
	max-width:100%;
	width:400px;
	height:250px;
	display:block;
}


/* END HOME CODE */

/* CONTACT PAGE */

#contact_form{
	width:100%;
	background:#f2f2f2;
	border:1px solid #ccc;
	padding:20px;
}

#contact_form input,
#contact_form textarea{
	width:70%;
}

textarea{
	resize:vertical;
}

/* END CONTACT PAGE*/

/* Over ons
----------------------------------------------------------------- */
#hostel{
	display: none;
}
/* Boten sectie
----------------------------------------------------------------- */
.BootType h2{
	text-align: center;
}

.BootType img{
	border-radius : 6px;
	margin-bottom: 20px;
}

.BootType p{
	text-align: justify;
}

/* Responsive
----------------------------------------------------------------- */
@media screen and (max-width: 992px){
	.BootType h2{
		text-align: left;
	}
	.BootType img{
		width: 200px;
		border-radius : 3px;
		margin-bottom: 20px;
		width: 20%;
		float: left;
	}
	.BootType p{
		float: left;
		margin-left: 2%;
		width: 78%;
	}
	.BootType{
		border-bottom: 1px solid #ddd;

	}


}
@media screen and (max-width: 650px) {
	.BootType h2{
		text-align: left;
	}
	.BootType img{
		border-radius : 3px;
		margin-bottom: 20px;
		width: 40%;
		float: left;
	}
	.BootType p{
		float: left;
		margin-left: 2%;
		width: 58%;
	}
}
@media screen and (max-width: 650px) {
	.BootType h2{
		text-align: left;
		float: right;
		width: 60%;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.BootType img{
		border-radius : 3px;
		margin-bottom: 20px;
		width: 40%;
		float: left;
		margin-top: 20px;
	}
	.BootType p{
		width: 100%;
		margin: 0px;
		text-align: justify;
	}
	.BootType{
		box-sizing: border-box;
		padding: 10px;
	}
}
